rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /selections/{userId} {
      allow read: if true;
      allow write: if true;
    }
    match /final_selections/{docId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
